# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
.private*

# Backup files # 
*.bak 

# Python # 
*.py[cod] 
*$py.class

dist
build
wagtail_cjkcms.egg-info
/images
original_images

# Tests
.tox
.eggs

# Dependency Directories
node_modules/
frontend/node_modules