# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
.private*

# Node #
package-lock.json
node_modules

# Backup files # 
*.bak 

# Python # 
*.py[cod] 
*$py.class

dist
build
wagtail_cjkcms.egg-info
/images
original_images

# Tests
.tox
.eggs