django-bootstrap5
wagtail>=4.1
# until these packages support Wagtail 5, use cjkpl forks
cjkcms-seo
wagtail-cache
cjkcms-color-panel

mkdocstrings[python]>=0.18
black
codespell
ruff
mypy
pytest
pytest-cov
pytest-django
sphinx
sphinx-wagtail-theme
twine
wheel
django-extensions
-e .