{% load wagtailcore_tags i18n %}

<style>
.horizontal-dropdown{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    z-index: 1000
}
.horizontal-dropdown:hover>.dropdown-menu {
    display: inline-flex;
    right: 100px;
}

.horizontal-dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.horizontal-dropdown>.dropdown-toggle::after{
    display: none;
}

.horizontal-dropdown .dropdown-menu li{
    margin-right: 10px;
    padding: 0;
    border-radius: 5px !important;
}

.horizontal-dropdown .dropdown-menu li .dropdown-item:hover{
    background-color: #444 !important;
    border-radius: 5px !important;
}
</style>

{% if page and page.get_translations.live %}
<div class="horizontal-dropdown">
    <button class="btn btn-sm bg-dark text-white fw-bold dropdown-toggle" type="button" id="dropdownLangs" 
        data-mdb-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        {% get_language_info for page.locale.language_code as lang %}
        {{ lang.name_local }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownLangs">
        {% for translation in page.get_translations.live %}
        {% get_language_info for translation.locale.language_code as lang %}
            <li class="bg-dark">
                <a class="dropdown-item text-white" href="{% pageurl translation %}" rel="alternate" hreflang="{{ language_code }}">
                {{ lang.name_local }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}