{% load friendly_loader wagtailcore_tags wagtailsettings_tags cjkcms_tags %}
{% friendly_load webpack_loader %}

    {% if settings.cjkcms.LayoutSettings.frontend_theme == 'python-webpack' %}
        {% if app_name %}
            {% if_has_tag javascript_pack %}{% javascript_pack 'app' app_name attrs='charset="UTF-8"' %}{% endif_has_tag %}
        {% else %}
            {% if_has_tag javascript_pack %}{% javascript_pack 'app' attrs='charset="UTF-8"' %}{% endif_has_tag %}
        {% endif %}
    {% else %}
        <script src="{% theme_js %}" 
            crossorigin="anonymous"></script>              
    {% endif %}