{% load wagtailsettings_tags %}
<!-- Google Tag Manager -->
{# With the cookie consent banner enabled, the script waits for consent to the analytics category. #}
<script{% if settings.cjkcms.AnalyticsSettings.cookie_consent %} type="text/plain" data-cookiecategory="analytics"{% endif %}>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ settings.cjkcms.AnalyticsSettings.gtm_id|escapejs }}');
</script>
<!-- End Google Tag Manager -->
