{% load wagtailcore_tags %}

<div {% if self.settings.custom_id %}id="{{self.settings.custom_id}}"{% endif %}
      {% if self.settings.force_theme %}
          data-bs-theme="{{ self.settings.force_theme }}" data-mdb-theme="{{ self.settings.force_theme }}"
      {% endif %}
     class="col{% if self.settings.column_breakpoint %}-{{ self.settings.column_breakpoint }}{% endif %}{% if self.column_size %}-{{ self.column_size }}{% endif %} 
     {{self.settings.custom_css_class}}
     {% if self.settings.force_theme %} bg-body text-body{% endif %}">
      {% for block in self.content %}
      {% include_block block %}
      {% endfor %}
</div>