{% load wagtailcore_tags %}

<div class="container{% if self.fluid %}-fluid{% endif %}"
  {% if self.settings.custom_id %} id="{{self.settings.custom_id}}"{% endif %}    
>
  {% block grid_content %}
  <div
      {% if self.settings.force_theme %}
        data-bs-theme="{{ self.settings.force_theme }}" data-mdb-theme="{{ self.settings.force_theme }}"
    {% endif %}
  
  class="row {{self.settings.custom_css_class}}
   {% if self.settings.force_theme %} bg-body text-body{% endif %}">
      {% for column in self.content %}
            {% include_block column %}
      {% endfor %}
  </div>
  {% endblock %}

</div>

{% block custom_scripts %}{% endblock %}